body{
	border: 0;
	margin: 0;
		font-family: 'Roboto Mono', monospace;
	overflow-x: hidden;
}
.div{
	margin: 0 auto;
	width: 50px;
	margin-top: 50%;
}
.d1,.d2,.d3{
	position: relative;
	width:15px;
	height:15px;
	border-radius:50px;
	animation: jump 3s infinite;
}
.d1{
	background-color:#1a1aff;
	top:25px;
}
.d2{
	background-color: #1a75ff;
	animation-delay:0.2s;
	left:20px;
	top:10px;

}
.d3{
	background-color: #4d88ff;
	animation-delay: 0.5s;
	left:40px;
	bottom: 5px;
}
@keyframes jump{
	25%{
		opacity: 1;
		transform: translateY(0px);
	}
	50%{
		opacity: 0.75;
		transform: translateY(0px);
	}
	75%{
		opacity: 0.50;
		transform: translateY(0px);
	}
	25%{
		opacity: 0.25;
		transform: translateY(0px);
	}
}
#loading{
	margin: -15px;
	margin-left: -8px;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	font-size: 12px;
	color: #212121;
}
#bar{
	background-color: #1a1a1a;
	color: white;
	width: 100%;
	height: 45px;
	font-size: 10px;
	position: fixed;
	border-top: #0d0d0d;
	z-index: 4;
	padding: 5px;
	/*
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	*/
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	bottom: 0;
}
.bard{
	color: white;
	/*
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	*/
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 3;

}
.bard img{
	width: 35px;
	height: 35px;
}
#top{
	text-align: center;
	background-color: #1a1a1a;
	width: 100%;
	height: 35px;
	margin-top: 0;
	border-bottom: 1px #0d0d0d;
	color: white;
	padding-top: 10px;
}
.image{
	position: relative;
	text-align: center;
	color: white;
	font-size: 20px;
	width: 100%;
}
#htitle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
#htitle_info{
	font-size: 22px;
	padding: -25px;
	position: absolute;
	top: 200%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#profile_pic{

	padding-bottom: 10px;
	margin-top: -2.7%;
	width: 100%;
	height: 100%;
	/*
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	*/
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.hrl{
	color: white;
	width: 90%;
}
.hrs{
	color: white;
	width: 100%;
}
#projectt{
	color: black;
	text-align: center;
	margin: 10px;
}
#ctitle{
	color: black;
	text-align: center;
	font-size: 15px;
}
#ctitle_game, #ctitle_game1{
	color: black;
	text-align: center;
}
#projectt{
	color: black;
	text-align: left;
	margin-left: 8px;
}
#ptitle{
	text-align: center;
}
.mfooter{
	font-size: 8px;
	text-align: center;
	color: white;
	background-color: #18344e;
	padding: 50px;
	border-top: 2px #060d13;
}
#bar a{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
}
#bar a img{
	display: block;
	margin: auto;
}
#settings{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 5px;
	padding-top: 6.5px;
}
#stitle{
	text-align: center;
}
#settingst{
	color: white;
	margin: 8px;
}
#sback{
	position: absolute;
	top: 0;
	right: 10px;
}
#toggle{
	background-color:#ccc;
	width:50px;
	height:25px;
	border-radius:50px;
	box-shadow: 1px 1px 2px #666;
}

#tcircle{
	background-color:#fff;
	width:23px;
	height:23px;
	border-radius:100%;
	position:absolute;
	top:191px;
	left:11.5px;
	box-shadow:1px 1px 3px #666;
}
.ficon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 15px;
}
#hmain_title{
	overflow: auto;
	font-size: 30px;
	border-bottom: 5px solid  #78482C;
	border-radius: 3px;
	margin: 5px;
}
#hmain_title p{
	margin: 10px;
}
#hmain_projects{
	overflow: auto;
	font-size: 20px;
	border-bottom: 5px solid  #78482C;
	border-radius: 3px;
	margin: 5px;
	margin-bottom: 50px;
}
#hmain_projects p{
	margin: 10px;
}
#hmain_codes{
	overflow: auto;
	font-size: 20px;
	border-bottom: 5px solid  #78482C;
	border-radius: 3px;
	margin: 5px;
}
#hmain_codes p{
	margin: 10px;
}
#hmain_layout{
	overflow: auto;
	font-size: 20px;
	border-bottom: 5px solid  #78482C;
	border-radius: 3px;
	margin: 5px;
}
#hmain_layout p{
	margin: 10px;
}
#project1, #project2{
	border-bottom: 5px solid #78482C;
	border-radius: 3px;
	
}
a{
	text-decoration: none;
}
#hmain_codes_image{
	width: 250px;
	height: 250px;
	float: right;
	margin-top: -7%;
}
#main_favicon_light{
	width: 50px;
	height: 50px;
}
#main_favicon_dark{
	position: absolute;
	top: 7px;
	left: 5px;
	width: 20px;
	height: 20px;
}

/* ---------- Pong Game Code ---------- */


#pong{
	background-color: #212121;
}
#Start{
	color: white;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}
#sub{
	font-size: 18px;
}
#title{
	font-size: 35px;
	margin-top: 40%;
}
#start, #info{
	font-size: 30px;
}
#infob, #infoi{
	color: white;
	font-family: 'Roboto Mono', monospace;
}
#info{
	font-size: 30px;
	color: white;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}
#infob{
	text-align: center;
	font-size: 30px;
}
#infoi{
	font-size: 25px;
}
